@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700;900&display=swap');

html, body{
    margin: 0;
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

main h2{
    font-weight: 900;
    letter-spacing: .1em;
    line-height: .4em;
}