
:root{
    --text-color: #4D6E5D;
    --hero-color: #7C1406;
    --bg-color: #5FEDA7;
    --btn-color: white;
    --main-bg-color: white;
}

:root.dark{
    --text-color: #D2BFBF;
    --hero-color: #5FEDA7;
    --bg-color: #7C1406;
    --btn-color: white;
    --main-bg-color: #555;
}

html, body{
    margin: 0;
}

*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: var(--main-bg-color);
}

body, .container, .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    flex-direction: column;
    width: 520px;
    background-color: var(--bg-color);
    border-radius: 2.5em 0 2.5em 0;
}

.explanation, .input-wrapper {
    width: 85%;
    padding: 0 1em;
}

.explanation h2{
    font-size: 2.5em;
    margin-bottom: 0;
}

.explanation h2, strong{
    color: var(--hero-color);
}

p{
    color: var(--text-color);
    line-height: 1.4em;
}

.wrapper{
    flex-direction: column;
    gap: 1.5em;
    width: 100%;
}

input[type="number"]{
    line-height: 2em;
    border-radius: .5em;
    margin-right: 1.5em;
    padding-left: 1em;
    background-color: var(--btn-color);
    border-color: var(--hero-color);
}

.password-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
}

.password{
    display: inline-block;
    text-align: center;
    margin: 1em;
    padding: .5em 1em;
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: .5em;
}

.password:hover{
    cursor: copy;
}

button{
    font-size: 1.2em;
    border: none;
}

#gen-btn{
    width: 3.5em;
    height: 3.5em;
    border-radius: 3.5em;
    font-size: 1.5em;
    font-weight: bold;
    background-color: var(--hero-color);
    color: var(--btn-color);
}

#gen-btn:hover{
    cursor: pointer;
}


@media screen and (max-width: 375px){
    .input-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0px;
        align-items: center;
        
    }

    input[type="number"]{
        width: 100%;
        margin: .5em auto 2em auto;
        padding-left: 1em;
    }

    .wrapper{
        gap: 0px;
    }
}

@media screen and (max-width: 520px){
    .container{
        width: 100%;
    }
}

@media screen and (min-width: 1020px){
    .container{
        width: 50%;
    }
}