@use "globals";

.header {
  color: globals.$main-color;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-area: header;
  padding: .5rem 1rem;

  h2 {
    color: globals.$cta;
  }

  h4 {
    margin-left: auto;
  }

  img{
    margin-right: .5rem;
  }

}

.main {
  color: globals.$main-color;
  padding: .5rem 1.5rem;
  max-width: 600px;
  grid-area: main;
  justify-self: center;

  li {
    line-height: 1.8em;
  }

  li::marker {
    color: globals.$cta;
    font-size: 1.5em;
  }

}

@media screen and (min-width: 600px) {
  body {
    font-size: 18px;
  }

  .header {
    padding: .5rem 3rem;
  }

}


