
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,100;1,300&display=swap');

html, body{
    margin: 0;
    font-size: 18px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #eee;
}

body{
    background-color: olive;
}

header, .count, .choice h2{
    text-align: center;
    color: #fefefe;
}

.container{
    font-size: 1.2em;
    width: 50%;
    padding: 1em;
    margin: .8em auto;
}


.result{
    display: flex;
    justify-content: space-around;
    border-radius: 2em;
    background-color: #333300;
}

.result em{
    font-weight: 900;
}

.container h2{
    margin-top: 0;
}

.count, .container.choice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.container.choice{
    margin-top: 0;
}

.count button{
    width: 7em;
    height: 2.1em;
    margin: .5em;
    border: none;
    border-radius: 1.5em;
    font-size: 1em;
    font-weight: 900;
    color: #eee;
    background-color: #333300;
}

button:hover{
    cursor: pointer;
    background-color: #fefefe;
}

.count-btn button:hover{
    color: lime;
}

.count-reset button:hover{
    color: olive;
}

#count{
    font-size: 1.5em;
    margin: 0;
}

.wrapper{
    display: inline-block;
}

input[type=radio][name="fruit"]:checked {
    accent-color: #333300;
}

@media only screen and (max-width: 540px){
    .container{
        width: 80%;
    }
    .result, div.choice{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    
}

@media only screen and (max-width: 920px){
    .container{
        width: 70%;
    }
    .result{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .result{
        padding: 2em;
    }

    .result em{
        float: right;
    }
   
}