@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html, body{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.wrapper{
    border: 3px solid black;
    width: 320px;
    height: 520px;
    border-radius: 1.1em;
    /*transform: rotate(7deg);*/
}

.head-wrapper{
    display: flex;
    padding: .7em .4em;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    height: 30px;
    align-items: center;
    font-size: 2em;
    font-family: 'Pacifico', cursive;
}

.head-wrapper a{
    text-decoration: none;
}

.profile-wrapper{
    width: 1.6em;
    height: 1.6em;
    border-radius: 2em;
    background-image: url("profile.jpg");
    background-size: cover;
    background-position: center;
}

.profile-wrapper:hover{
    cursor: pointer;
}